@import "variables";
//compass 的雪碧图处理
$icon: sprite-map("icon/*.png",$spacing: 4px,$layout:smart);
/*$icons-2x: sprite-map("icons-2x!*.png",$spacing: 4px, $layout:smart);*/
@mixin fnIconSprite($name){
  width: image-width(sprite-file($icon, $name));
  height: image-height(sprite-file($icon, $name));
  background-image: sprite-url($icon);
  background-position: sprite-position($icon, $name);
  background-repeat: no-repeat;
  /*@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (max-width: 767px) {
    background-image: sprite-url($icons-2x);
    background-size: (image-width(sprite-path($icons-2x))/2) (image-height(sprite-path($icons-2x))/2);
    background-position: round(nth(sprite-position($icons-2x, $name), 1)/ 2) round(nth(sprite-position($icons-2x, $name), 2)/ 2);
    height: image-height(sprite-file($icons-2x, $name))/2;
    width: image-width(sprite-file($icons-2x, $name))/2;
  }*/
};
body {
  font-family: "Microsoft Yahei",Arial,Helvetica, sans-serif;
  font-size: 100%;
  min-width: 1400px;
  background-color: $grayfColor;
}
ul,li { list-style-type: none; padding:0; margin: 0;}
a:focus{ outline: 0;}
p { margin: 0; padding:0;}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
header {
  background-color: #56c0ed;
  padding:0 30px;
  margin-bottom: 20px;
}
input, button { outline: 0; }
header:after,.logo:after,.clear:after,.marking-list:after,.module-marking:after,.marking-type:after,.marking-style:after,.marking-level:after,.module-marking-filter:after,.theme-list:after,.page:after{
  content:"";
  clear:both;
  display: block;
  height:0;
}
a { color: #333;}
a:hover, a:focus{
  text-decoration: none;
}
.row{
  margin-right: -10px;
  margin-left: -10px;
}
.logo {
  display: block;
  float:$sideL;
  padding: 6px 0 2px;
}
.logo img{
  float: left;
}
.logo_dec {
  float: $sideL;
  margin-left: 10px;
}
.logo_dec > span {
  display: block;
}
.logo_dec .logo_title {
  font-size: 14px;
  color:$mainColor;
}
.logo_dec .logo_en {
  font-size:12px;
  color:$mainColor;
}
.top_nav {
  float:$sideL;
  margin-left: 40px;
}
.vip_info {
  float:$sideR;
  margin-top: 6px;
}
.vip_info > span {
  margin-right: 17px;
}
.module-vip {
  float: $sideL;
  margin-top: 10px;
  margin-right: 20px;
  color: $mainColor;
  font-size: 14px;
}
.vip_info > a {
  float: $sideL;
  background: url(../images/vip_bg.png) no-repeat;
  width: 40px;
  height: 38px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.vip_info > a > img {
  margin-top: 10px;
  margin-left: -2px;
}
.vip_level {
  margin-right: 10px;
  position: relative;
}
.vip_level:after {
  content:"";
  position: absolute;
  right:-8px;
  top:4px;
  height:12px;
  width:1px;
  background-color: #fff;
}
.top_nav a {
  display: block;
  float: $sideL;
  padding:17px 24px;
  color:$mainColor;
  font-size: 14px;
  border-radius:8px;
}
.top_nav a.active,.top_nav a:hover{
  background-color: #2AA7DC;
  color:$whiteColor;
  box-shadow: 0px 0px 1px #00174b inset;
}
/*
 main-left
*/
.main-left {
  @include mainModule;
  min-height: 808px;
  background-color: $whiteColor;
}
.main-right {

}
.form-select {
  padding:0 10px;
}
.form-select .btn {
  padding: 9px 12px;
  border: 1px solid #CCD3DE;
}
.form-select .btn:hover{
  background-color: #fff;
  /*box-shadow: 0px 0px 10px #2AA7DC;
  border: 1px solid #4DA1FF;*/
}
.form-select > .open .dropdown-menu.open {
  padding: 10px 0;
  margin-top:0;
  box-shadow: none;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-select .btn:visited,.form-select .btn:active{
  border: 1px solid #CCD3DE;
}
.form-select .bootstrap-select.open .btn{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown-menu > li > a{
  padding:6px 20px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #56c0ed;
  color: $whiteColor;
}
.dropdown-menu{
  border-color: #adadad;
}
.caret {
  width: 8px;
  height: 8px;
  border: 1px solid #8494A5;
  border-right: 0;
  border-top: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
i{
  display: inline-block;
}
.module-accordion {
  margin-top: 15px;
}
.module-accordion .icon-folder {
  @include fnIconSprite(folder);
  vertical-align: text-bottom;
}
.module-accordion .module-list {
  border: $borderColor solid 1px;
  border-radius:5px;
  border-bottom: 0;
}
.module-accordion .module-list.open {
  border:1px solid #4DA1FF;
  box-shadow: 0px 0px 10px #2AA7DC;
}
.module-accordion .module-list .module-list-one {
  padding:15px;
  position: relative;
  cursor: pointer;
}
.module-accordion .module-list.open .module-list-one {
  border-bottom: 1px solid #CCD3DE;
}
.module-accordion .module-list .accordion-dec,.module-accordion .module-list .accordion-two-dec{
  font-size: 14px;
  margin-left: 10px;
  display: inline-block;
}
.module-accordion .module-list .accordion-dec ~ span,.module-accordion .module-list .accordion-two-dec ~ span{
  font-size: 14px;
  display: inline-block;
}
.module-accordion .module-list .module-list-two{
  margin: 0;
  font-size: 14px;
  background-color: #F6F8F9;
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}
.module-accordion .module-list:last-child{
  border-bottom:#CCD3DE solid 1px
}
.module-accordion .module-list .module-list-two li {
  padding: 15px 50px 15px 30px;
  cursor: pointer;
}
.module-accordion .module-list .module-list-two li:hover{
  background-color: #E1E6F0;
}
.module-accordion i.icon-file {
  @include fnIconSprite(file);
  vertical-align: text-bottom;
}
.module-accordion .module-list-two span {
  display: inline-block;
}
.module-accordion .module-list.open .icon-folder{
  @include fnIconSprite(folder-active);
}
.module-marking .marking-list {

}
.bootstrap-select.btn-group .dropdown-toggle .caret {
  right: 15px;
  margin-top: -5px;
}
.form-select .btn.btn-default{
  outline: 0!important;
  box-shadow: none;
}
.main-right {
  background-color: $whiteColor;
  @include mainModule;
  min-height: 808px;
  position: relative;
}
.marking-list {
  float: $sideL;
}
.module-marking {
  margin-bottom: 15px;
}
.module-marking .marking-list li {
  float: $sideL;
  padding: 6px 35px;
  margin-right: 30px;
  background-color: #2AA7DC;
  border: 1px solid #4DA1FF;
  border-radius: 5px;
}
.module-marking .marking-list li > a {
  display: block;
  color:$whiteColor;
  font-size: 14px;
  letter-spacing: 2px;
}
.module-marking .marking-check {
  float: $sideL;
  margin-left: 16px;
  margin-top: 15px;
  color:#636363;
  font-size: 12px;
}
.icon-check {
  @include fnIconSprite(check);
  vertical-align: text-bottom;
  margin-right: 3px;
}
.module-marking-filter {
  border: $borderColor solid 1px;
  border-radius: 5px;
  padding: 0 15px;
  margin-bottom: 15px;
}
.module-theme .theme-list{
  cursor: pointer;
}
.module-theme .theme-list:hover {
  border: 1px solid #4DA1FF;
  box-shadow: 0px 0px 10px #2AA7DC;
  border-radius: 5px;
}
.module-theme .theme-list {
  border: 1px solid #CCD3DE;
  border-radius: 5px;
  margin-bottom: 15px;
}
.module-theme .theme-list .theme-tip {
  float: $sideL;
}
.module-theme .theme-list .theme-status {
  float: $sideR;
}
.module-theme .theme-list .theme-tip li {
  float: $sideL;
  width:60px;
  height:24px;
  line-height: 24px;
  text-align: center;
}
.theme-list .theme-tip .theme-num {
  background-color: $backGroundColor;
  border-right: 1px solid #4DA1FF;
  border-bottom: 1px solid #4DA1FF;
  display: block;
  color: $whiteColor;
  border-top-left-radius: 5px;
}
.theme-list .theme-tip a{
  font-size: 12px;
  color:#636363;
  border-right:1px solid $borderColor;
  border-bottom:1px solid $borderColor;
  display: block;
}
.theme-list .theme-tip a:hover{
  border-right:1px solid #4DA1FF;
  border-bottom:1px solid #4DA1FF;
  border-left: 1px solid #4DA1FF;
  background-color: #E0EEFD;
  color:#63A6F7;
}
.theme-status li > i {
  display: inline-block;
  width: 10px;
  height:10px;
  border-radius:100%;
  background-color: #E85454;
  margin-right: 4px;
}
.theme-status li >span {
  display: inline-block;
  color: #4A4A4A;
}
.theme-status a {
  display: block;
  color: #636363;
  width: 60px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-top-right-radius:5px;
  font-size: 12px;
  border-left:1px solid $borderColor;
  border-bottom:1px solid $borderColor;
}
.theme-status a.ok {
  background-color: #E85454;
  border-left:1px solid #E85454;
  border-bottom:1px solid #E85454;
  color: $whiteColor;
}
.theme-list  .theme-status li{
  float: $sideL;
  line-height: 22px;
  margin-left: 15px;
}
.main-right .page {
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  border-top:1px solid $borderColor;
  padding: 10px 15px;
  font-size: 14px;
  color: #4A4A4A;
}
.page .result {
  float: $sideL;
  margin-top: 10px;
}
.page .result span{
  margin-left:10px;
}
.page .showNum {
  float: $sideL;
  margin-left: 50px;
}
.page .showNum > span {
  float: $sideL;
  margin-top: 10px;
  margin-right: 10px;
}
.page .showNum .show-input {
  float: $sideL;
  margin-right: 6px;
  position: relative;
}
.page .showNum .show-input .page-icon {
  position: absolute;
  right:0;
  top:0;
  border-left:1px solid $borderColor;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}
.page .showNum .show-input .page-icon i {
  display: block;
  width: 20px;
  height:17px;
  cursor: pointer;
}
.page .showNum .show-input .page-icon i.icon-up {
  border-bottom:1px solid $borderColor;
}
.page .showNum .show-input input{
  width:64px;
  height:34px;
  border:1px solid $borderColor;
  border-radius:5px;
  padding:0 22px 0 10px;
  color:#2E2E32;
}
.page .pageNum {
  float: $sideR;
  border:1px solid $borderColor;
  border-radius:5px;
}
.pageNum li {
  float: left;
  padding: 7px 14px;
  border-right:1px solid $borderColor;
  height: 34px;
}
.pageNum li:last-child{
  border-right:0;
}
.pageNum li a{
  color:#4A4A4A;
  font-size:14px;
  display: block;
}
.pageNum li a:hover {
  color:#4DA1FF;
}
.pageNum li .prev i{
  @include fnIconSprite(prev);
}
.pageNum li .next i{
  @include fnIconSprite(next);
}
.pageNum li i {
  display: block;
}
.module-marking-filter .marking-type li,.marking-style  li,.marking-level li {
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid #CCD3DE;
  float: $sideL;
  margin-right: 15px;
}
.module-marking-filter ul a {
  font-size: 12px;
  color:#636363;
}
.module-marking-filter li:hover {
  border:1px solid #4DA1FF;
}
.module-marking-filter li:hover a{
  color:#4DA1FF;
}
.module-marking-filter li.active {
  border:1px solid #4DA1FF;
  background-color: #E0EEFD;
}
.module-marking-filter li.active a{
  color:#4DA1FF;
}
.module-marking-filter ul:last-child {
  border-right:0;
}
.module-marking-filter ul {
  padding:15px 0;
  border-right:1px solid $borderColor;
}
.module-marking-filter ul li:last-child{
  margin-right: 0;
}
.module-marking-filter .marking-type {
  float: $sideL;
  width: 230px;
}
.module-marking-filter .marking-style {
  float: $sideL;
  width: 300px;
  padding-left: 15px;
}
.module-marking-filter .marking-level {
  float: $sideL;
  padding-left: 15px;
}
.theme-list .theme-content{
  clear: both;
}
.theme-list .theme-content {
  padding: 30px 50px;
  min-height: 90px;
}
.theme-list .theme-content p,.theme-list .theme-content span{
  color:#4A4A4A;
  font-size: 14px;
  line-height: 1.5;
}
@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
}
.icon-arrow-up {
  right: 15px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border: 1px solid #8494A5;
  border-right: 0;
  border-top: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.module-accordion .module-list.open .icon-arrow-up{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
/**cover**/
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width: 100%;}
.open > .dropdown-toggle.btn-default:hover,.btn-default:focus, .btn-default.focus{ background-color: #fff;}
.btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus,.open > .dropdown-toggle.btn-default{background-color: #fff;}
.dropdown-menu li:focus,.dropdown-menu li > a :focus{ outline: 0!important;}